body{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  background: #fff;
}
.feedBody {
  width: 30em;
  margin: 0 auto;
  z-index: 99;
  display: block;
  margin-top: 5%;
  background: transparent;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.form {
  color: gray;
  padding: 0 20px 0px 20px;
}
.form-body{
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  border-radius: 1em;
  margin-top: 1em;
}

.options{
  background-color:#D7722C;
  height: 2em;
}
.options p{
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0.5em;
  float: left;
  margin-left: 1em;
}
.powered_{
  padding: 10px;
  margin-top: 20px;
  line-height: 25px;
  background: #f15a24;
  font-size: 12pt;
}
.powered_ a {
  color: #ddd;
  text-decoration: none;
  font-size: 12pt;
}
.powered_ a:hover {
  font-style:italic;
}